
/* Simple css reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
/* Simple css reset */

/*--------------------------------------------------------------------------*/
body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-end;
  min-height: 8vh;
  align-items: center;
  padding: 8px;
}

.nav_link {
  display: flex;
  justify-content: space-around;
  width: 15%;
  align-items: center;
}

.nav_link li {
  list-style-type: none;
}

.nav_link li a {
  text-decoration: none;
  color: #222;
}

.btn {

  border: none;
  border-radius: 3px;
  background-color: #1a73e8;
  color: #fff;
  padding: 9px 23px;
  font-size: 14px;
}

.search {
  text-align: center;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #F2F2F2;
}

.left_footer_menu a, .right_footer_menu a {
  text-decoration: none;
  color: #7A7A7A;
  font-size: 13px;
  padding: 1rem;
}

.logo {
  padding: 12.5em 0 2em 0;
}

img {
  width: 20em;
}

.search_input {
  margin: 1rem 0;
}

footer {
  margin-top: auto;
}


