
/* Simple css reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
/* Simple css reset */

/*--------------------------------------------------------------------------*/
body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  padding: 6px;
  font-size: 13px;
  
}

.nav_container{ 
  
}

.nav_link {
  display: flex;
  align-items: center;
}

.nav_link li {
  list-style-type: none;
  padding: 5px;
}

.nav_link li a {
  text-decoration: none;
  color: #222;
}

.btn {

  border: none;
  border-radius: 3px;
  background-color: #1a73e8;
  color: #fff;
  padding: 9px 23px;
  font-size: 14px;
}

.search {
  text-align: center;
}

.logo {
  padding: 12.5em 0 2em 0;
}

img {
  width: 20em;
}

.search_input {
  margin: 1rem 0;
}

footer {
  margin-top: auto;
  padding: 1.3rem;
  background-color: #F2F2F2;
}

.footer_menu {
 text-align: center;
}

.left_footer_menu a, .right_footer_menu a {
  text-decoration: none;
  color: #706f6f;
  font-size: 14px;
  padding: 1rem 1rem 0 1rem;
}

.left_footer_menu a:hover, .right_footer_menu a:hover {
  text-decoration: underline;
}

.right_footer_menu {
  margin: 1.5em 0 0 0;
}

