
/* Simple css reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}
/* Simple css reset */

/*--------------------------------------------------------------------------*/

nav {
  width: 100vw; 
  height: 30px;
}

li {
  
  list-style-type: none; 
  /* To remove the 'bullet point' - list item do not need any styling*/

  margin: 0 5px;
}

a {
  text-decoration: none;
  /* list item do not need any underline */
}

ul {
  display: flex;
  /* To place the elements in a row */

}

#nav {
  float: right;
}



/* ----------center the element------------ */

/* section {
  margin: 0 auto;
  width: 50%;
} */

/* ----------center the element------------ */
